extends:
- homeoffice/config/default

env:
  es6: true

globals:
  Feature: true
  Scenario: true
  actor: true
  Before: true
  Helper: true

rules:
  func-names:
    - error
    - never
  max-len: off
  no-underscore-dangle: off
  no-console: off
